* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: AntonSC;
    src: url(../fuente/AntonSC-Regular.ttf);
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}


#logo {
    width: 250px;
    padding: 20px;
    margin: 20px;
}

#logo img {
    width: 100%;
    object-fit: cover;
}

.home-nav {
    display: flex;
    padding: 20px;
    margin: 20px;

}

.home-nav li {
    list-style: none;
}


.home-nav li a {
    text-decoration: none;
    /* color: white; */
    color: brown;
    padding-right: 40px;
    font-size: 20px;
    font-weight: 600;
}

.home-nav li a:hover {
    color: antiquewhite;
}


/*section*/

.menu-nav {
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    padding: 20px;
    position: fixed;
    top: 200px;
    z-index: 1;
}

.menu-nav li {
    width: 150px;
    list-style: none;
    padding: 10px;
    margin: 20px 0px;
    background-color: beige;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menu-nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.menu-nav li:hover {
    transition: ease 0.4s;

    background-color: bisque;
}


/*carta*/



h1 {
    color: azure;
    margin-bottom: 40px;
    font-family: AntonSC;
    font-weight: 500;
    font-size: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../Imagenes/bg_mostaza.jpg);
}

main {

    padding-left: 300px;
    padding-top: 150px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-section h2 {
    color: #333;
    margin: 20px;
}


.image-container {
    display: flex;
    flex-direction: column;
}

.image-container div {
    display: flex;
}


.image-item {
    width: 50%;
}


.image-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    margin: 5px;
    font-size: 12px;
}

.image-text img {
    height: 100px;
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin: 5px;
}

.image-text p {
    width: 60%;
    color: #555;
    font-style: italic;
}


/*Footer*/

footer {
    background-color: grey;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 30px;
}

.footer-container ul li {
    list-style: none;
    margin: 10px;
}

.footer-container ul li a {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
    font-size: 16px;
    font-weight: 600;
}