* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: AntonSC;
    src: url(../fuente/AntonSC-Regular.ttf);
}


/*header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}


#logo {
    width: 250px;
    padding: 20px;
    margin: 20px;
}

#logo img {
    width: 100%;
    object-fit: cover;
}

.home-nav {
    display: flex;
    padding: 20px;
    margin: 20px;
}

.home-nav li {
    list-style: none;
}


.home-nav li a {
    text-decoration: none;
    /* color: white; */
    color: brown;
    padding-right: 40px;
    font-size: 20px;
    font-weight: 600;
}

.home-nav li a:hover {
    color: antiquewhite;
}


/*section*/

.menu-nav {
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    padding: 20px;
    position: fixed;
    top: 200px;
    z-index: 1;
}

.menu-nav li {
    width: 150px;
    list-style: none;
    padding: 10px;
    margin: 20px 0px;
    background-color: beige;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menu-nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.menu-nav li:hover {
    transition: ease 0.4s;

    background-color: bisque;
}

/*informacion*/

.container-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url(../Imagenes/bg_mostaza.jpg);
}



.container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
    background-color: rgb(20, 20, 20, 0.1);
    margin-left: 250px;

}

.container img {
    width: 350px;
    height: 300px;
    margin-left: 15px;
}

.info h1 {
    margin-bottom: 10px;
    color: white;
    font-size: 45px;
    font-family: AntonSC;
    font-weight: 500;
}

.info p {
    color: #474747;
    text-align: justify;
    color: white;
}

/*Footer*/

footer {
    background-color: grey;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 30px;
}

.footer-container ul li {
    list-style: none;
    margin: 10px;
}

.footer-container ul li a {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
    font-size: 16px;
    font-weight: 600;
}